.logoSide {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 34px;
    color: red;
}

.greenRound {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #35DE1A;
    display: inline-block;
    margin-left: 10px;
}

.online {
    margin-left: 20px;
    color: #fff;
}

.wrapperLogoSide {
    display: flex;
    justify-content: space-between;
}

.signIn img:hover {
    cursor: pointer;
}





