.total {
    color: #fff;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 0;
}

.about {
    margin-right: 20px;
}

.navSideWrap a {
    text-decoration: none;
    color: #fff;
}

.navSideWrap a:hover {
    border-bottom: 2px solid #fff;
    transition: 0.1s;
}

